Source: ros-hydro-hector-worldmodel
Section: misc
Priority: extra
Maintainer: Johannes Meyer <meyer@fsr.tu-darmstadt.de>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin
Homepage: http://ros.org/wiki/hector_worldmodel
Standards-Version: 3.9.2

Package: ros-hydro-hector-worldmodel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-hector-object-tracker, ros-hydro-hector-worldmodel-geotiff-plugins, ros-hydro-hector-worldmodel-msgs
Description: The hector_worldmodel stack helps to collect and fuse information about objects in the world. It is used by Team Hector Darmstadt to localize victims and QR codes in the Robocup Rescue scenario. See hector_object_tracker for further details.
